<h2 class="titulo">Produtos</h2>

<div class="lista-produtos">
  @for (p of produtos; track p.id) {
    <div class="produto-card" [class.estoque-baixo]="p.estoqueBaixo">
      <div class="info">
        <strong>{{ p.nome }}</strong>
        <span class="preco">
          {{ p.preco | currency: "BRL" : "symbol" : "1.2-2" }}
        </span>
        <span class="quantidade"> {{ p.quantidade }} unidades </span>

        @if (p.estoqueBaixo) {
          <span class="alerta">⚠ Estoque baixo</span>
        }
      </div>

      <div class="acoes">
        <button class="btn editar" (click)="editarProduto(p)">Editar</button>
        <button class="btn excluir" (click)="excluirProduto(p.id)">
          Excluir
        </button>
      </div>
    </div>
  }
</div>

<h2 class="titulo">Cadastrar Produtos</h2>

<form
  class="form-produto"
  [formGroup]="produtoForm"
  (ngSubmit)="criarProduto()"
>
  <input type="text" placeholder="Nome do produto" formControlName="nome" />
  @if (produtoForm.get("nome")?.invalid && produtoForm.get("nome")?.touched) {
    <small class="erro">Nome não pode ser vazio</small>
  }

  <input type="number" placeholder="Quantidade" formControlName="quantidade" />
  @if (
    produtoForm.get("quantidade")?.invalid &&
    produtoForm.get("quantidade")?.touched
  ) {
    <small class="erro">Quantidade deve ser maior que zero</small>
  }

  <input
    type="number"
    placeholder="Preço"
    formControlName="preco"
    step="0.01"
  />
  @if (produtoForm.get("preco")?.invalid && produtoForm.get("preco")?.touched) {
    <small class="erro">Preço deve ser maior que R$ 0,01</small>
  }

  <button class="btn salvar" type="submit" [disabled]="produtoForm.invalid">
    @if (produtoEditandoId) {
      Atualizar Produtos
    } @else {
      Criar Produto
    }
  </button>
</form>
